{% extends "base.html.twig" %}

{% block content %}
    <h2><a id="field_{{ field.name }}"></a>
        Field: {{ field.name }}
    </h2>
    <h4>
        Table: <a href="table__{{ tableName }}.html">{{ tableName }}</a>
    </h4>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Property Name</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody class="table-body">
        <tr>
            <td>Name</td>
            <td>{{ field.name }}</td>
        </tr>
        <tr>
            <td>Alias</td>
            <td>{{ field.alias }}</td>
        </tr>
        <tr>
            <td>Type</td>
            <td>{{ field.type }}</td>
        </tr>
        <tr>
            <td>Label</td>
            <td>{{ field.label }}</td>
        </tr>
        <tr>
            <td>Doc</td>
            <td>
                {% if field.doc %}
                    <i>{{ field.doc }}</i>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Foreign Key</td>
            <td>
                {% if field.foreignKey %}
                    <a href="table__{{ field.foreignTable }}.html#field_{{ field.foreignKey }}">
                        {{ field.foreignKey }}
                    </a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Foreign Table</td>
            <td>
                {% if field.foreignTable and field.foreignKey %}
                    <a href="table__{{ field.foreignTable }}.html">
                        {{ field.foreignTable }}
                    </a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Codelist</td>
            <td>
                {% if field.codelist %}
                    <a href="codelist__{{ field.codelist }}.html">
                        {{ field.codelist }}
                    </a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Properties</td>
            <td>
                {% for property in field.properties %}
                    {{ property }}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>Is Unique</td>
            <td>{{ field.isUnique ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
            <td>Is Generated</td>
            <td>{{ field.isGenerated ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
            <td>Tags</td>
            <td>
                {% for tag in field.tags %}
                    <span class="badge badge-info">{{ tag.name }}</span>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>Violations</td>
            <td>
                {% for violation in field.violations %}
                    <code class="badge badge-danger" style="margin: .2em 0 .2em 0"><b>"{{ violation.propertyPath }}":</b> {{ violation.message }}
                    </code>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>Regular Issues</td>
            <td>
                {% for idx, fieldIssue in field.issues %}
                    <a href="./issue__{{ tableName }}__{{ field.name }}__{{ idx }}.html">
                        <code class="badge badge-{{ fieldIssue.isOpen ? 'danger' : 'success' }}" style="margin: .2em 0 .2em 0">
                            Field: <b>{{ field.name }}</b>,
                            Type: {{ fieldIssue.type }}
                        </code>
                    </a>
                    <br/>
                {% endfor %}
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
