{% extends "base.html.twig" %}

{% block content %}
    <h2>{{ isOpen ? 'Open' : 'Closed' }} Regular Issues</h2>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Type Issues</th>
            <th>Field Issues</th>
        </tr>
        </thead>
        <tbody id="table-body">
        {% for typeName, typeIssues in issues %}
            <tr>
                <td>
                    <a href="./type__{{ typeName }}.html">
                        <code class="badge badge-secondary">
                            {{ typeName }}
                        </code>
                    </a>
                </td>
                <td>
                    {% for idx, typeIssue in typeIssues.type %}
                        <a href="./issue__{{ typeName }}__{{ idx }}.html">
                            <code class="badge badge-{{ typeIssue.isOpen ? 'danger' : 'success' }}" style="margin: .2em 0 .2em 0">
                                Type: <b>{{ typeName }}</b>,
                                Type: {{ typeIssue.type }}
                            </code>
                        </a>
                        <br/>
                    {% endfor %}
                </td>
                <td>
                    {% for fieldName, fieldIssues in typeIssues.field %}
                        {% for idx, fieldIssue in fieldIssues %}
                            <a href="./issue__{{ typeName }}__{{ fieldName }}__{{ idx }}.html">
                                <code class="badge badge-{{ fieldIssue.isOpen ? 'danger' : 'success' }}" style="margin: .2em 0 .2em 0">
                                    Field: <b>{{ fieldName }}</b>,
                                    Type: {{ fieldIssue.type }}
                                </code>
                            </a>
                            <br/>
                        {% endfor %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
