{% extends "base.html.twig" %}

{% block content %}
    <h2><a id="table_{{ table.name }}"></a>
        Table: {{ table.name }}</h2>
    <div>
        {% for tag in table.tags %}
            <a
                    href="tables__tag_{{ tag.name }}.html"
                    class="badge badge-info"
                    style="margin: .2em 0 .2em 0"
            >{{ tag.name }}</a>
        {% endfor %}
    </div>
    <div>
        {% for violation in table.violations %}
            <span class="badge badge-danger"><b>"{{ violation.propertyPath }}":</b> {{ violation.message }}</span>
        {% endfor %}
    </div>
    <br/>
    <h4>Columns</h4>
    <input
            id="searchInput"
            autofocus
            class="form-control"
            style="margin-top: 10px; margin-bottom: 10px;"
            placeholder="Search... "
    />

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Alias</th>
            <th>Label / Description</th>
            <th>Type</th>
            <th>Link</th>
        </tr>
        </thead>
        <tbody id="table-body">
        {% for column in table.columns %}
            <tr>
                <td>
                    <a id="field_{{ table.name }}.{{ column.name }}"></a>
                    <a href="column__{{ table.name }}__{{ column.name }}.html"><code class="badge badge-secondary">{{ column.name }}</code></a><br/>
                    {% if column.alias %}
                        <code class="badge badge-primary">{{ column.alias }}</code>
                    {% else %}
                        <code class="badge badge-warning">NO ALIAS</code>
                    {% endif %}
                    <br/>
                    {% for violation in column.violations %}
                        <code class="badge badge-danger" style="margin: .2em 0 .2em 0">
                            <b>"{{ violation.propertyPath }}":</b> {{ violation.message }}
                        </code>
                        <br/>
                    {% endfor %}
                </td>
                <td>
                </td>
                <td>
                    <b>{{ column.label|default(column.name|upper) }}</b><br/>
                    {% if column.doc %}
                        <i>{{ column.doc }}</i><br/>
                    {% endif %}
                    {% for tag in column.tags %}
                        <span class="badge badge-info">{{ tag.name }}</span>
                    {% endfor %}
                </td>
                <td>
                    {{ column.type }}
                <td>
                    {% if column.foreignKey %}
                        <a href="table__{{ column.foreignTable }}.html#field_{{ column.foreignKey }}">
                            &gt;{{ column.foreignKey }}
                        </a><br/>
                    {% endif %}
                    {% if column.codelist %}
                        <a href="codelist__{{ column.codelist }}.html">
                            @{{ column.codelist }}
                        </a><br/>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        {% for propertyName, propertyValue in table.properties %}
            <tr>
                <td>
                    <code>{{ propertyName }}</code>
                </td>
                <td>
                    <b>{{ propertyValue }}</b>
                </td>
                <td>
                    property
                </td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    {% if table.issues %}
        <h4>Regular Issues</h4>
        {% for idx, tableIssue in table.issues %}
            <a href="./issue__{{ table.name }}__{{ idx }}.html">
                <code class="badge badge-{{ attribute(tableIssue, '@status') == 'closed' ? 'success' : 'danger' }}" style="margin: .2em 0 .2em 0">
                    Table: <b>{{ table.name }}</b>,
                    Type: {{ attribute(tableIssue, '@type') }}
                </code>
            </a>
            <br>
        {% endfor %}
        </ul>
    {% endif %}
    <a href="./tables.html">Back to tableindex</a>
{% endblock %}
