{% extends "base.html.twig" %}

{% block content %}
    <h2><a id="type_{{ type.name }}"></a>
        Type: {{ type.name }}</h2>
    <div>
        {% for tag in type.tags %}
            <a
                    href="types__tag_{{ tag.name }}.html"
                    class="badge badge-info"
                    style="margin: .2em 0 .2em 0"
            >{{ tag.name }}</a>
        {% endfor %}
    </div>
    <div>
        {% for violation in type.violations %}
            <span class="badge badge-danger"><b>"{{ violation.propertyPath }}":</b> {{ violation.message }}</span>
        {% endfor %}
    </div>
    <br/>
    <h4>Fields</h4>
    <input
            id="searchInput"
            autofocus
            class="form-control"
            style="margin-top: 10px; margin-bottom: 10px;"
            placeholder="Search... "
    />

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Alias</th>
            <th>Label / Description</th>
            <th>Type</th>
            <th>Link</th>
        </tr>
        </thead>
        <tbody id="table-body">
        {% for field in type.fields %}
            <tr>
                <td>
                    <a id="field_{{ type.name }}.{{ field.name }}"></a>
                    <a href="field__{{ type.name }}__{{ field.name }}.html"><code class="badge badge-secondary">{{ field.name }}</code></a><br/>
                    {% if field.alias %}
                        <code class="badge badge-primary">{{ field.alias }}</code>
                    {% else %}
                        <code class="badge badge-warning">NO ALIAS</code>
                    {% endif %}
                    <br/>
                    {% for violation in field.violations %}
                        <code class="badge badge-danger" style="margin: .2em 0 .2em 0">
                            <b>"{{ violation.propertyPath }}":</b> {{ violation.message }}
                        </code>
                        <br/>
                    {% endfor %}
                </td>
                <td>
                </td>
                <td>
                    <b>{{ field.label|default(field.name|upper) }}</b><br/>
                    {% if field.doc %}
                        <i>{{ field.doc }}</i><br/>
                    {% endif %}
                    {% for tag in field.tags %}
                        <span class="badge badge-info">{{ tag.name }}</span>
                    {% endfor %}
                </td>
                <td>
                    {{ field.type }}
                <td>
                    {% if field.foreignKey %}
                        <a href="type__{{ field.foreignType }}.html#field_{{ field.foreignKey }}">
                            &gt;{{ field.foreignKey }}
                        </a><br/>
                    {% endif %}
                    {% if field.codelist %}
                        <a href="codelist__{{ field.codelist }}.html">
                            @{{ field.codelist }}
                        </a><br/>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        {% for property in type.properties %}
            <tr>
                <td>
                    <code>{{ property.definition.name }}</code>
                </td>
                <td>
                    <b>{{ property.value }}</b>
                </td>
                <td>
                    property
                </td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    {% if type.issues %}
        <h4>Regular Issues</h4>
        {% for idx, typeIssue in type.issues %}
            <a href="./issue__{{ type.name }}__{{ idx }}.html">
                <code class="badge badge-{{ typeIssue.isOpen ? 'danger' : 'success' }}" style="margin: .2em 0 .2em 0">
                    Table: <b>{{ type.name }}</b>,
                    Type: {{ typeIssue.type }}
                </code>
            </a>
            <br>
        {% endfor %}
        </ul>
    {% endif %}
    <a href="./types.html">Back to typeindex</a>
{% endblock %}
