{% extends "base.html.twig" %}

{% block content %}
    <h2>Type index</h2>
    <input
            id="searchInput"
            autofocus
            class="form-control"
            style="margin-top: 10px; margin-bottom: 10px;"
            placeholder="Search... "
    />
    {% for tagName in tagsAll %}
        <a
                href="types__tag_{{ tagName }}.html"
                class="badge badge-info"
                style="margin: .2em 0 .2em 0"
        >{{ tagName }}</a>
    {% endfor %}
    <br/><br/>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Label/Description</th>
            <th style="text-align: center;">Aliases</th>
        </tr>
        </thead>
        <tbody id="table-body">
        {% for type in types %}
            <tr>
                <td>
                    <a href="./type__{{ type.name }}.html">
                        <code class="badge badge-secondary">
                            {{ type.name }}
                        </code><br/>
                        {% if type.alias %}
                            <code class="badge badge-primary">{{ type.alias }}</code>
                        {% else %}
                            {# <code class="badge badge-danger">NO ALIAS</code> #}
                        {% endif %}
                    </a>
                </td>
                <td>
                    {% for tag in type.tags %}
                        <a
                                href="types__tag_{{ tag.name }}.html"
                                class="badge badge-info"
                                style="margin: .2em 0 .2em 0"
                        >{{ tag.name }}</a>
                    {% endfor %}
                </td>
                <td style="text-align: center;">
                    <span class="badge badge-{{ type.getFieldAliasPercentageClass() }}">
                    {{ type.getFieldAliasPercentage() }}%
                    </span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
